/* Everything in doucment. */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

p,
a,
li {
    font-family: 'Open Sans', sans-serif;
    color: #111;
}

p {
    font-size: 1.5em;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

/* Body */

h1 {
    font-size: 2.7em;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    margin-top: 0;
    padding-bottom: 0;
    font-size: 1.6em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.7em;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #111;
}

/* Top Nav */
header {
    text-align: center;
}

.topnav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.nav-container li {
    flex: 1;
    align-self: center;
}

.topnav a:hover,
.topnav a:active {
    background-color: whitesmoke;
    color: #111;
}

.topnav a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 20px;
}

.topnav a,
.topnav li {
    color: whitesmoke;
}

.topnav ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

/* Main Section */

.title {
    margin-top: 100px;
}

.main {
    padding: 0 300px;
    text-align: left;
}

.about {
    margin: 50px auto;
    padding-bottom: 20px;
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
}

.main p {
    text-indent: 50px;
}

iframe {
    margin: 10px auto;
    text-align: center;
    display: block;
}

.statistics li {
    font-size: 1.5em;
}

.references li {
    font-size: 1.5em;
}

.resource-list {
    margin-bottom: 50px;
}

.resource-list li {
    padding-top: 20px;
    font-size: 1.6em;
}


/* footer */

footer {
    background-color: #111;
    padding: 0;
    text-align: center;
}

footer p {
    color: whitesmoke;
    width: 100%;
    padding-top: 10px;
    margin: 100px 0 0;
    font-size: .8em;
    height: 30px;
}