/* Everything in doucment. */

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

p,
a,
li {
    font-family: 'Open Sans', sans-serif;
    color: #111;
}

p {
    font-size: 1.3em;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

/* Body */

h1 {
    font-size: 2.7em;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    margin-top: 0;
    padding-bottom: 0;
    font-size: 1.6em;
}

h3 {
    font-size: 1.7em;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    text-align: center;
    color: #111;
}

/* Top Nav */
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.nav-container li {
    flex: 1;
    align-self: center;
}

.topnav a:hover,
.topnav a:active {
    background-color: whitesmoke;
    color: #111;
}

.topnav a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 20px;
}

.topnav a, .topnav li {
    color: whitesmoke;
}

/* Main Section */

.title {
    margin-top: 100px;
}

.main {
    padding: 0 150px;
}

iframe {
    margin: 30px auto;
}

.resource-list {
    margin-bottom: 50px;
}

.resource-list li {
    padding-top: 20px;
}

.resource-list a {
    font-size: 1.3em;
}

/* footer */

footer {
    background-color: #111;
    padding: 0;
}

footer p{
    color: whitesmoke;
    width: 100%;
    padding-top: 10px;
    margin: 0;
    font-size: .8em;
    height: 30px;
}